@using Microsoft.AspNetCore.Identity
@using ArtaniPaylas.Core.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="ap-auth-list">
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var isAdmin = false;
    if (user != null) {
        isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
    }

    if(isAdmin)
    {
        <li>
            <a class="ap-auth-pill ap-auth-admin" href="/Admin">Admin Paneli</a>
        </li>
    }
    else
    {
        <li>
            <a class="ap-auth-pill ap-auth-primary" href="/UserDashboard">Panelim</a>
        </li>
    }

    <li>
        <form class="m-0" asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="ap-auth-link">Cikis</button>
        </form>
    </li>
}
else
{
    <li>
        <a class="ap-auth-link" asp-area="" asp-controller="Account" asp-action="Register">Kayit Ol</a>
    </li>
    <li>
        <a class="ap-auth-pill ap-auth-primary" asp-area="" asp-controller="Account" asp-action="Login">Giris Yap</a>
    </li>
}
</ul>
